*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(8, 9, 9, 0.836);



}
.container form{
    background-color: rgb(249, 249, 249);
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0,0,0,0.5);
    position: relative;

}

.input-group{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 10px 0;
}
.input-group label{
    flex-basis: 28%;
}

.input-group input,  .input-group textarea{
    flex-basis:68% ;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    font-size: 1rem;
    color:#333;

}
::placeholder{
    font-size: 1rem;

}

form button{
    background: #141a34;
    color:#fff;
    border-radius: 4px;
    padding: 10px 40px;
    outline: 0;
    margin: 30px auto 10px;
    display: block;
    cursor: pointer;


}

.input-group span{
    position: absolute;
    bottom:12px ;
    right: 17px;
    color:rgb(240, 61, 61);
}
#submit-error{
    color: rgb(240, 61, 61);
}
.input-group i {
    color:green;
}